<h1>Momoka Takahashi</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<div class="btn-group">
  <button class="btn">Left</button>
  <button class="btn">Middle</button>
  <button class="btn btn-default">Right</button>
</div>